

.jumbotron {
   
  padding-top: 100px;

  background: url("../images/pages/about.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  color: white !important;
  height: 60vh;
  align-items: center;
  justify-content: center;
  display: flex;
  filter: grayscale(80%);
}
 
.about h2:after {
  content: " ";
  display: block;
  border: 1px solid black;
}



.service-text p {
  font-size: 16px !important;
   
  text-align: justify;
}

 .Services p
 {
  font-size: 18px !important;
  
  text-align: justify;
 }
.owlslider {
  max-width: 1200px;

  display: flex;

  align-items: center;
  padding: 20px;
}

.owlslider .card {
  background: white;
  flex: 1;
  margin: 0 10px;
  
    
}
.carousel-shadow {
  margin: 10px;
  box-shadow: 0px 15px 10px -15px #111; 
}
.owl-stage {
  display: flex !important;
}
.owl-item {
  display: flex !important;
  flex: 1 0 auto !important;
  box-shadow: 0px 15px 10px -15px #111; 
}


.owl-carousel .owl-item img {
  width: auto;
  height: 100%;
}
 
.owlslider .card .img {
  height: 200px;
  object-fit: cover;
}

.owlslider .card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.owlslider .card .content {
  padding: 10px 20px;
  align-items:center;
  border:5px solid #D3D3D3;
}

.owlslider .card .title {
  font-size: 25px;
  font-weight: 600;
}

.owlslider .card .btn {
  display: block;
  text-align: left;
  margin: 10px 0;
}

.owlslider .card .btn button {
  background: #bd0b0c;
  color: white;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 5px 8px;
  cursor: pointer;
  transition: 0.2s;
}

.Services h2:after {
  content: " ";
  display: block;
  border: 1px solid black;
}
  .card:hover {
      
     
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);  
    color:#bd0b0c
  } 
