

.jumbotron {
   
  padding-top: 100px;

  /*background: url("../images/pages/about.jpg");*/
  background: url("../images/homepage/bgeng1.jpg");
  background-repeat: no-repeat;
  
  background-size:cover;
  color: white !important;
  height: 60vh;
  align-items: center;
  justify-content: center;
  display: flex;
  /* filter: grayscale(80%); */
}
 
.about h2:after {
  content: " ";
  display: block;
  border: 1px solid black;
}
.about p{
  line-height:1.5;font-size:20px;
}
.ervice-item
{
  padding:20px 0px;
}
.service-text
{
  padding:20px;
}
.service-text p {
  font-size: 1.05rem !important;
  font-weight:600;
  word-spacing:0.5rem;
  word-break: normal;
  line-height:1.5rem;
  text-align: center;
}

 .Services p
 {
  font-size: 20px !important;
  word-break: normal;
  text-align: justify;
  font-weight:bold;

padding:0px 5px;
 
   
 }
.owlslider {
  max-width: 1200px;

  display: flex;

  align-items: center;
  padding: 20px;
}

.owlslider .card {
  background: white;
  flex: 1;
  margin: 0 10px;
  
    
}
.carousel-shadow {
  margin: 10px;
  box-shadow: 0px 15px 10px -15px #111; 
}
.owl-stage {
  display: flex !important;
}
.owl-item {
  display: flex !important;
  flex: 1 0 auto !important;
  box-shadow: 0px 15px 10px -15px #111; 
}


.owl-carousel .owl-item img {
  width: auto;
  height: 100%;
}
 
.owlslider .card .img {
  height: 200px;
  object-fit: cover;
}

.owlslider .card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.owlslider .card .content {
  padding: 10px 20px;
  align-items:center;
  border:5px solid #D3D3D3;
}

.owlslider .card .title {
  font-size: 22px;
  font-weight: 600;
}

.owlslider .card .btn {
  display: block;
  text-align: left;
  margin: 10px 0;
}

.owlslider .card .btn button {
  background: #bd0b0c;
  color: white;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 5px 8px;
  cursor: pointer;
  transition: 0.2s;
}
 
.Services h2:after {
  content: " ";
  display: block;
  border: 1px solid black;
}
  .card:hover {
      
     
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);  
    color:#bd0b0c
  } 
  @media only screen and (min-width: 768px) and (max-width: 991.98px)
   {  
     .ml-3
     {
       margin:0px !important;
     }
    .about p 
    {
      font-size:13px;
    }
    .abt-img
    {
      padding:20px 0px 0px;
    }
    .jumbotron
    {
      height: 20vh;
      background-size:cover;
      padding-top:70px;
     
    }
    h4{
      font-size:2.5rem !important;
      font-weight:400;
      background:rgba(0,0,0,0.2);
    }
    .side-one h4
    {
      font-size:0.9rem !important;
      font-weight:bold;
    }
    .side-one p
    {
      font-size:0.7rem !important;
      font-weight:bold;
    }
    .service-item
    {
      padding:1rem;
    }
    .service-text p {
      
      
      font-size:0.75rem !important;
      line-height:1rem;
      font-weight:400;
      text-align:left;
      
      
  }
  .service-text h3{
    font-size:1rem;
    font-weight:800;
  }
  .service-item img{
    width:100px;
  }
  .owlslider .card .title {
    font-size: 1rem;
    font-weight: 600;
  }
  .owlslider .card .title1 {
     
    padding-bottom:20px;
  }
  .client-section dd1
  {
    height:72px Important !important;
  }
 
  }
  @media only screen and (max-width: 575px)  
  {
    .jumbotron
    {
      height: 35vh  !important;;
      background-size:cover  !important;;
      padding-top:32px  !important;; 
     
    }
    .jumbotron  h4{
      font-size:1.25rem !important;
      font-weight:800 !important;
      background:rgba(133, 135, 137, 0.7);
    }
    /* .about{
      padding:10px 20px !important;

    } */
    .about h4
    {
      font-size:1.25rem;
      font-weight:800;
    }
    .mt-5
    {
      margin-top:0px !important;
    }
    .pr-5
    {
      padding-right:10px !important;
    }
    .about p {
      text-align: justify;
       
       
      font-size:0.8rem !important;
    }
    .callforaction h3{
      font-size: 1rem !important;
      font-weight: 800;
      padding: 10px 3px;
    }
    .align-right{
      text-align:center !important;
    }
    .callforaction{
      padding:20px 0px 10px 0px !important;
      min-height:80px;
    }
    .callforaction .btn{
      padding: 0.25rem 0.5rem;
      margin-bottom:0.5rem;
    }
    .service-icon img {
      width:80px;
    }
    .service-text h3
    {
      font-size:1.25rem;
      font-weight:800;
    }
    .service-text p {
      font-size: 1rem;
      font-weight: 500;
      
       display: inline-block;
      
      text-align: justify;
  }
    .filler-section
    {
      padding-bottom:0px !important;
    }
    .Services h3{
      font-size:1.15rem;
      font-weight:bold;
    }

    .Services p{
      font-size:15px !important;
      
    }
    .Services h4,.team-section h4{
      font-size: 1.25rem;
    font-weight: 800;
    }
    .owlslider .card .title {
      font-size: 15px;
      font-weight: 600;
  }
  .team-section
  {
    padding:0px;
  }
  
  }
