@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:wght@400;700;800&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
p{
  text-align: justify;
}
h4{
  font-size: 1.8rem;
}
/* preloader css */
@keyframes loaderpulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes loaderspin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes loaderspin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
#pre-load {
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  margin-top: 0px;
  top: 0px;
  z-index: 9999;
}
.loader .loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: 5px solid #ebebec;
  border-radius: 50%;
}
.loader .loader-container:before {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-top: 4px solid #f00c46;
  border-radius: 50%;
  animation: loaderspin 1.8s infinite ease-in-out;
  -webkit-animation: loaderspin 1.8s infinite ease-in-out;
}
.loader .loader-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  text-align: center;
}
.loader .loader-icon img {
  animation: loaderpulse alternate 900ms infinite;
  width: 50px;
}
/*end preloader css*/

.top-bar {
  /* background-color: #020913; */
  background-color:#0a1e34;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
}
.top-bar::before {
  content: "";
  height: 13%;
  width: 63%;
  /* #858789;*/
  background: #858789;
  position: absolute;
  top: 0;
  left: -20px;
  transform: skew(-25deg);
}
.top-bar ul,
.social-icons ul {
  list-style: none;
  margin-bottom: 1px !important;
}

.top-bar ul li,
.social-icons li {
  display: inline-block;
  color: #ffffff;
  font-size: 13px;
  line-height: 50px;
  font-weight: 500;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  margin-right: 20px;
  padding-right: 20px;
}

.top-bar ul li a,
.social-icons a {
  color: #ffffff;
  font-size: 14px;
}

.color_white {
  color: white;
}

.color_black {
  color: black;
}

.social-icons {
  text-align: right !important;
}

.navbar {
  box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.5);
}

#navbarNav {
  justify-content: space-between !important;
}

.nav-link {
  width: 25%;

  padding: 12px;
  text-decoration: none;
  font-size: 18px;
}

.navbar ul li a {
  color: #333;
}

.navbar ul li a:hover {
  color: #bb0b0b;
}
.bg-menucolor {
  /* background-color: #020913; */
  background-color:#0a1e34;
  color: white;
}
.navbar.bg-menucolor ul.navbar-nav li > a {
  color: #fff;
}
.bar {
  padding: 16px 13px 16px;
  background: transparent;
  max-width: 50px;
  display: flex;
  flex-wrap: wrap;
  /* border-radius: 2px; */
  padding-right: 0;
  margin-right: -4px;
}

.dot {
  height: 5px;
  width: 5px;
  display: block;
  background: #bb0b0b;
  border-radius: 50%;
  transition: none;
  list-style: none;
  transition: all 0.3s ease;
  margin: 2px 3px;
}
.bg1 {
    /* background-image: url(../images/about-bg2.jpg); */
    background-color:#0a1e34;
     
  }
  
  .callforaction {
    color: white;
    padding: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: 100px;
  }
  
  .filler-section {
    margin-bottom: 20px;
    padding-bottom: 40px;
    /* box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5); */
    text-align: justify;
  }
  .counter-border-top {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #bb0b0b;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 50px 0px 0px 0px;
  }
  
  .counter-list {
    display: flex;
  }
  
  .counter-area .counter-list .counter-icon img {
    width: 80px;
    display: inline-block;
    padding-right: 15px;
  }
  
  .counter-area .counter-list .counter-number .rs-count {
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    color: #0a0a0a;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
  }
  .heading-border-line:before {
    content: "";
    width: 12px;
    height: 4px;
    background: #fd4a36;
    position: absolute;
  
    left: 10%;
    margin-left: -35px;
    transform: translateX(-50%);
    border-radius: 2px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
  }
  .heading-border-line {
    padding-bottom: 20px;
  }
  .heading-border-line:after {
    content: "";
    width: 100px;
    height: 4px;
    background: #fd4a36;
    position: absolute;
  
    right: 0;
    left: 10%;
    margin-left: -20px;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 0;
  }
  .slick-slide {
    margin: 0 20px;
  }
  .slick-slide img {
    width: 100%;
    display: block;
  }
  .slick-track {
    margin: 0 auto;
  }
  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
  }
  .slick-list:focus {
    outline: none;
  }
  .slick-track {
    display: flex !important;
  }
  
  .slick-slide {
    height: inherit !important;
  }
  .slide img
  {
    
      opacity: 0.6;
     
  }
  .client-section {
    width: 100% !important;
    height: auto !important;
    padding: 50px;
    margin-bottom: 10px;
  }
  
  .h-divider {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    position: relative;
  }
  
  .h-divider .shadow {
    overflow: hidden;
    height: 14px;
  }
  
  .h-divider .shadow:after {
    content: "";
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/12px;
    box-shadow: 0 0 8px black;
  }