
.jumbotron {
  padding-top: 120px;

  background: url("../images/pages/contact.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white !important;
  height: 60vh;
  filter: grayscale(80%);
}
.jumbotron h1 {
  padding-top: 40px;
  font-size: 40px;
}
.slick-slide {
  margin: 0 20px;
}
.slick-slide img {
  width: 100%;
  display: block;
}
.slick-track {
  margin: 0 auto;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}
.contact-map {
  border-right: 1px outset whitesmoke;
}
.contact-map {
  overflow: hidden;
  padding-right:10px;
}
.contact-map iframe {
  height: 200px;
  filter: grayscale(100%);
}
.rs-contact.contact-style2 .contact-wrap .from-control {
  padding: 17px 17px 17px 17px;
  color: #000000;
  margin-top:10px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #858789;
  background-color: silver;
  width: 100%;
  max-width: 100%;
  opacity: 1;
}
.rs-contact.contact-style2 .contact-wrap textarea {
  height: 120px;
}
.rs-contact.contact-style2 .contact-wrap ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */

  color: #454545;
  opacity: 0.55;
}
.rs-contact.contact-style2 .contact-wrap ::-moz-placeholder {
  /* Firefox 19+ */

  color: #454545;
  opacity: 0.55;
}
.rs-contact.contact-style2 .contact-wrap :-ms-input-placeholder {
  /* IE 10+ */

  color: #454545;
  opacity: 1;
}
.rs-contact.contact-style2 .contact-wrap :-moz-placeholder {
  /* Firefox 18- */

  color: #454545;
  opacity: 0.55;
}

.rs-contact.main-home .contact-icons-style .contact-item .contact-icon img {
  max-width: unset;
  width: 50px;
  height: 50px;
  padding: 5px 5px 0px 0px;
}
.rs-contact.main-home .contact-icons-style .contact-item .content-text {
  padding: 0px 0px 0px 15px;
}
.rs-contact.main-home .contact-icons-style .contact-item .content-text .title {
  font-size: 20px;
  font-weight: 600;
  line-height: 38px;
  margin: 0 0 10px;
}
.rs-contact.main-home
  .contact-icons-style
  .contact-item
  .content-text
  .title
  a {
  color: #ffffff;
}
.rs-contact.main-home
  .contact-icons-style
  .contact-item
  .content-text
  .title
  a:hover {
  color: #bb0b0b;
}
.rs-contact.main-home .contact-icons-style .contact-item .content-text a {
  color: #c5c2c2;
}
.rs-contact.main-home .contact-icons-style .contact-item .content-text a:hover {
  color: #bb0b0b;
}
.rs-contact.main-home
  .contact-icons-style
  .contact-item
  .content-text
  .services-txt {
  margin: 0;
  color: #c5c2c2;
}
.rs-contact.main-home .contact-icons-style.box-address .contact-item {
  background-image: url(assets/images/contact/box-bg2.png);
}
.rs-contact.main-home
  .contact-icons-style.box-address
  .contact-item
  .content-text
  .title
  a {
  color: #0a0a0a;
}
.rs-contact.main-home
  .contact-icons-style.box-address
  .contact-item
  .content-text
  .title
  a:hover {
  color: #bb0b0b;
}
.rs-contact.main-home
  .contact-icons-style.box-address
  .contact-item
  .content-text
  a {
  color: #444444;
}
.rs-contact.main-home
  .contact-icons-style.box-address
  .contact-item
  .content-text
  a:hover {
  color: #bb0b0b;
}
.rs-contact.main-home
  .contact-icons-style.box-address
  .contact-item
  .content-text
  .services-txt {
  color: #444444;
}
.rs-contact.main-home
  .contact-icons-style.box-address.box-style2
  .contact-item {
  background-image: url(assets/images/contact/box-bg3.png);
}
.rs-contact.main-home.office-modify1 .contact-map iframe {
  height: 761px;
}
.rs-contact.main-home.office-modify1 .contact-section {
  background-color: #ebebeb;
  padding: 100px 80px 121px;
}
.rs-contact.main-home.office-modify1
  .contact-section
  .contact-wrap
  .from-control {
  color: #000000;
  border-style: solid;
  border-color: #ffffff;
  background-color: #fff;
}
.rs-contact.main-home.office-modify1 .contact-section .contact-wrap textarea {
  height: 120px;
}
.rs-contact.main-home.office-modify1
  .contact-section
  .contact-wrap
  ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */

  color: #454545;
  opacity: 0.55;
}
.rs-contact.main-home.office-modify1
  .contact-section
  .contact-wrap
  ::-moz-placeholder {
  /* Firefox 19+ */

  color: #454545;
  opacity: 0.55;
}
.rs-contact.main-home.office-modify1
  .contact-section
  .contact-wrap
  :-ms-input-placeholder {
  /* IE 10+ */

  color: #454545;
  opacity: 1;
}
.rs-contact.main-home.office-modify1
  .contact-section
  .contact-wrap
  :-moz-placeholder {
  /* Firefox 18- */

  color: #454545;
  opacity: 0.55;
}
.rs-contact.main-home.office-modify1 .contact-section.contact-style2 {
  padding: 90px 80px 100px;
}
.rs-contact.main-home.office-modify1 .contact-box {
  padding: 35px 35px 35px 35px;
  background-color: #ebebeb;
  margin: 0 -4px 0 0;
}
.rs-contact.main-home.office-modify1 .contact-box .contact-icon img {
  width: 64px;
  height: 64px;
  max-width: unset;
  margin-bottom: 20px;
}
.rs-contact.main-home.office-modify1 .contact-box .content-text .title {
  font-size: 20px;
  font-weight: 600;
  line-height: 38px;
  margin: 0 0 10px;
}
.rs-contact.main-home.office-modify1 .contact-box .content-text .title a {
  color: #14171c;
}
.rs-contact.main-home.office-modify1 .contact-box .content-text .title a:hover {
  color: #bb0b0b;
}
.rs-contact.main-home.office-modify1 .contact-box .content-text a {
  color: #444444;
  font-weight: 500;
}
.rs-contact.main-home.office-modify1 .contact-box .content-text a:hover {
  color: #bb0b0b;
}
.rs-contact.main-home.office-modify1 .contact-box .content-text .services-txt {
  margin: 0;
  color: #444444;
  font-weight: 500;
}
.rs-contact.main-home.office-modify1 .office-buliding {
  background: url(assets/images/contact/office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.rs-contact.main-home.home5-contact-style .contact-wrap .from-control {
  color: #0a0a0a;
  border-color: #f1f1f1;
  background-color: #f1f1f1;
}
.rs-contact.main-home.home5-contact-style ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */

  color: #454545;
  opacity: 0.4;
}
.rs-contact.main-home.home5-contact-style ::-moz-placeholder {
  /* Firefox 19+ */

  color: #454545;
  opacity: 0.4;
}
.rs-contact.main-home.home5-contact-style :-ms-input-placeholder {
  /* IE 10+ */

  color: #454545;
  opacity: 0.4;
}
.rs-contact.main-home.home5-contact-style :-moz-placeholder {
  /* Firefox 18- */

  color: #454545;
  opacity: 0.4;
}
.rs-contact.main-home.home5-contact-style input[type="submit"]:hover {
  opacity: 0.9;
}
.rs-contact.contact-style2 .contact-address {
  background-color: #ffffff;
  padding: 70px 50px 60px 60px;
}
.rs-contact.contact-style2 .contact-address .address-item {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 30px;
}
.rs-contact.contact-style2 .contact-address .address-item .address-icon img {
  width: 35px;
  height: 35px;
  max-width: unset;
}
.rs-contact.contact-style2 .contact-address .address-item .address-text {
  padding-left: 25px;
  color: #444444;
  font-weight: 500;
}
.rs-contact.contact-style2 .contact-address .address-item .address-text a {
  color: #444444;
  font-weight: 500;
}
.rs-contact.contact-style2
  .contact-address
  .address-item
  .address-text
  a:hover {
  color: #bb0b0b;
}
.rs-contact.contact-style2 .contact-map {
  overflow: hidden;
}
.rs-contact.contact-style2 .contact-map iframe {
  float: left;
  width: 100%;
  height: 420px;
  border: none;
  padding: 10px;
}
.rs-contact.contact-style2 .contact-wrap .from-control {
  padding: 17px 17px 17px 17px;
  color: #000000;
  border-style: solid;
  margin-top:10px;
  border-width: 1px 1px 1px 1px;
  border-color: #858789;
  background-color: #f1f1f1;
  width: 100%;
  max-width: 100%;
  opacity: 1;
}
.rs-contact.contact-style2 .contact-wrap textarea {
  height: 120px;
}
.rs-contact.contact-style2 .contact-wrap ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */

  color: #454545;
  opacity: 0.55;
}
.rs-contact.contact-style2 .contact-wrap ::-moz-placeholder {
  /* Firefox 19+ */

  color: #454545;
  opacity: 0.55;
}
.rs-contact.contact-style2 .contact-wrap :-ms-input-placeholder {
  /* IE 10+ */

  color: #454545;
  opacity: 1;
}
.rs-contact.contact-style2 .contact-wrap :-moz-placeholder {
  /* Firefox 18- */

  color: #454545;
  opacity: 0.55;
}
.rs-contact.faq-style .contact-item {
  padding: 35px 35px 35px 35px;
  background-color: #fff;
}
.rs-contact.faq-style .contact-item .contact-icon img {
  width: 64px;
}
.rs-contact.faq-style .contact-item .content-text .title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin: 25px 0px 5px 0px;
}
.rs-contact.main-home .contact-icons-style.box-address .contact-item {
  background-image: url(../images/pages/box-bg2.png);
}
.rs-contact.main-home .contact-icons-style .contact-item {
  display: flex;
  padding: 30px 3px 30px 0px;
  margin: 0 -5px 0 0;
  background-image: url(assets/images/contact/con-box.png);
}
.rs-contact.main-home .contact-icons-style .contact-item .contact-icon img {
  max-width: unset;
  width: 50px;
  height: 50px;
  padding: 5px 5px 0px 0px;
}
.rs-contact.main-home .contact-icons-style .contact-item .content-text {
  padding: 0px 0px 0px 15px;
}
.rs-contact.main-home .contact-icons-style .contact-item .content-text .title {
  font-size: 20px;
  font-weight: 600;
  line-height: 38px;
  margin: 0 0 10px;
}
.rs-contact.main-home
  .contact-icons-style
  .contact-item
  .content-text
  .title
  a {
  color: #ffffff;
}
.rs-contact.main-home
  .contact-icons-style
  .contact-item
  .content-text
  .title
  a:hover {
  color: #bb0b0b;
}
.rs-contact.main-home .contact-icons-style .contact-item .content-text a {
  color: #c5c2c2;
}
.rs-contact.main-home .contact-icons-style .contact-item .content-text a:hover {
  color: #bb0b0b;
}
.rs-contact.main-home
  .contact-icons-style
  .contact-item
  .content-text
  .services-txt {
  margin: 0;
  color: #c5c2c2;
}
.rs-contact.main-home .contact-icons-style.box-address .contact-item {
  background-image: url(assets/images/contact/box-bg2.png);
}
.rs-contact.main-home
  .contact-icons-style.box-address
  .contact-item
  .content-text
  .title
  a {
  color: #0a0a0a;
}
.rs-contact.main-home
  .contact-icons-style.box-address
  .contact-item
  .content-text
  .title
  a:hover {
  color: #bb0b0b;
}
.rs-contact.main-home
  .contact-icons-style.box-address
  .contact-item
  .content-text
  a {
  color: #444444;
}
.rs-contact.main-home
  .contact-icons-style.box-address
  .contact-item
  .content-text
  a:hover {
  color: #bb0b0b;
}
.rs-contact.main-home
  .contact-icons-style.box-address
  .contact-item
  .content-text
  .services-txt {
  color: #444444;
}
.readon.submit {
  background-color: #bb0b0b;
  padding: 15px 35px 15px 35px;
  border: none;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}
.readon.submit:hover {
  color: #333;
  opacity: 0.99;
}
/**navigation scroll**/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
.bg-menucolor {
  background-color: #020913;
  color: white;
}
.rs-contact h3
{
  font-weight: 700;
  color: #bb0b0b;
}
@media (max-width: 575px){
  .jumbotron {
    padding-top: 78px !important;
  
    background: url("../images/pages/contact.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white !important;
    height: 35vh;
    filter: grayscale(80%);
  }
  .jumbotron h1 {
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
  }
  .jumbotron  h4{
    font-size:1.75rem !important;
    font-weight:800 !important;
    background:rgba(133, 135, 137, 0.7);
    text-align: center;
  }
  .pt-5
  {
    padding-top:0px !important;
  }
}
