.jumbotron {
    padding-top: 120px;
  
    background: url("../images/pages/system-service.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white !important;
    height: 60vh;
    filter: grayscale(70%);
  }
  .jumbotron h1 {
    padding-top: 40px;
    font-size: 40px;
  }