.team-section
{
padding:40px 0px;

}
.section-heading
{
    text-align:center;
    color:#fff;
    margin-bottom:20px;
    font-size:40px;
    letter-spacing:5px;
}
.card
{
    
    background:white;

}
.roundImg {
    border-radius: 50%;
    padding: 10px;
    border: 5px solid #ffa500;
  }
  .roundImg40 {
    border-radius: 40%;
    padding: 10px;
    border: 5px solid #ffa500;
  }
  .team-single:hover .side-two
  {
      transform:rotateY(0deg);
      border-radius:5px;

  }
  /* .team-single:hover .side-one
  {
      transform:rotateY(180deg);
     
      
  } */
  .content-area
  {
      transform:perspective(1000px);
      transition:1s;
      transform-style:preserve-3d;
      position:relative;
  }
  .side-one
  {
      position:relative;
      transform:rotateY(0deg);
      z-index:2;
      margin-bottom:30px;
     
  }
  .side-two
  {
      position:absolute;
      top:0;
      left:0;
     
      transform:rotateY(-180deg);
      z-index:3;
  }
  .side-one,
  .side-two{
      backface-visibility: hidden;
      transition:1s;
      transform-style:preserve-3d;

  }
  .side-one ,card,.side-two .card
  {
      min-height: 312px;

  }
  .side-two .card
  {
    color:white;
    background-color:#bd0b0c !important;
  }

.team-page
{
    margin-top:50px;
    padding:20px;
}
.team-page .desc
{
    margin-top:50px;
    padding:20px;
}
.team-page p
{
    font-size:20px;
    font-weight:600;
    line-height:3 rem;
}
.teamdet
{
    margin:20px;
    padding:20px;

}
 
.vs
{
    padding:15px;
}
.side-one .card .image {
    width:100px; height:100px;
    margin:0 auto;
    border-radius:50%;
    overflow:hidden;
    border: 4px solid white;
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
    
  }
  
  .side-one .card {
    /* box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2); */
    box-shadow: 0px 0px 4px 8px rgba(0, 0, 0, 0.2);/*any color you want*/
    /* transition: 0.3s; */
    transition: all .4s ease-out 0s;
    background-color: #ffffff;
  }
  .side-one a
  {
      text-decoration: none;
      color:black;
  }
  .card:hover {
    background-color: #cccccc;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    color:#bd0b0c;
  }
 .owl-dot span
 {
    width: 25px !important;
        height: 8px !important;
        display: inline-block !important;
        margin: 0 6px !important;
        padding: 3px  0 !important;;
        border-radius: 0 !important;; 
        border: none !important;;
        transition: all 0.3s ease;
        background: #BB0B0B !important;;
        box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 25%) !important;
    }
    .owl-dot span active
    {
        width: 40px !important;
    background: #BB0B0B !important;
    opacity: .5 !important;
    }
    .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-dot {
        cursor: pointer;
        cursor: hand;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
        cursor: pointer;
    }
    
    [role=button] {
        cursor: poi
      
 }
 .owl-dot active
 {
    width: 40px;
    background: #BB0B0B;
    opacity: .5;
 }
 
  .item
  {
      
      height:80px;
      overflow: hidden;
  }
.client-section
{
    width:100% !important;
    height:auto !important;
    padding:50px;
    margin-bottom:10px;
}

.h-divider {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    position: relative;
  }
  
  .h-divider .shadow {
    overflow: hidden;
    height: 14px;
  }
  
  .h-divider .shadow:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/12px;
    box-shadow: 0 0 8px black;
  }









