.bgteam {
  padding-top: 100px;

  background: url("../images/team/team.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white !important;
  height: 60vh;
  align-items: center;
  justify-content: center;
  display: flex;
  /* filter: grayscale(100%); */
}
.bgteam h4 {
  background: rgba(0, 0, 0, 0.6);
}
.team-section {
  padding: 40px 0px;
}
.section-heading {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-size: 40px;
  letter-spacing: 5px;
}
.card {
  background: white;
}
.roundImg {
  /* border-radius: 50%;

  border: 5px solid grey; */
  position: relative;
  margin-bottom: 50px;
  /* border-radius: 50%;
  border: 4px dashed transparent; */
  transition: padding 0.3s;
  background: #0a1e34;
  width: 220px;
}
.roundImg40 {
  border-radius: 40%;
  padding: 10px;
  border: 5px solid #ffa500;
}
.team-single:hover .side-two {
  transform: rotateY(0deg);
  border-radius: 5px;
}
/* .team-single:hover .side-one
  {
      transform:rotateY(180deg);
     
      
  } */
.content-area {
  transform: perspective(1000px);
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}
.side-one {
  position: relative;
  transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}
.side-two {
  position: absolute;
  top: 0;
  left: 0;

  transform: rotateY(-180deg);
  z-index: 3;
}
.side-one,
.side-two {
  backface-visibility: hidden;
  transition: 1s;
  transform-style: preserve-3d;
}
.side-one,
card,
.side-two .card {
  min-height: 312px;
}
.side-two .card {
  color: white;
  background-color: #bd0b0c !important;
}

.team-page {
  margin-top: 50px;
  padding: 20px;
}
.team-page .desc {
  margin-top: 50px;
  padding: 20px;
}
.team-page p {
  font-size: 16px;
  font-weight: 800;
  line-height: 2.2em;
}
.teamdet {
  margin: 20px;
  padding: 20px;
}
.team-single p {
  text-align: center;
}
.teamdet p {
  text-align: left;
}

.side-one .card .image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid white;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

.side-one .card {
  /* box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2); */
  box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.2); /*any color you want*/
  /* transition: 0.3s; */
  transition: all 0.4s ease-out 0s;
  background-color: #ffffff;
}
.side-one a {
  text-decoration: none;
  color: black;
  cursor:pointer;
}
/* .card:hover {
    /* background-color: #cccccc;  
    background: linear-gradient(to right, #12365B, #5c8199);
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);  
    color:white;
  } */
.owl-dot span {
  width: 25px !important;
  height: 8px !important;
  display: inline-block !important;
  margin: 0 6px !important;
  padding: 3px 0 !important;
  border-radius: 0 !important;
  border: none !important;
  transition: all 0.3s ease;
  background: #bb0b0b !important;
  box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 25%) !important;
}
.owl-dot span active {
  width: 40px !important;
  background: #bb0b0b !important;
  opacity: 0.5 !important;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

[role="button"] {
  cursor: poi;
}
.owl-dot active {
  width: 40px;
  background: #bb0b0b;
  opacity: 0.5;
}

.item {
  height: 80px;
  overflow: hidden;
}
@media only screen and (max-width: 575px)  
{
  .roundImg
  {
    width:160px !important;
  }
  .bgteam
    {
        height:55vh;
        padding-top:40px;
    }
  .bgteam h4 {
    font-size: 2.75rem !important;
    font-weight: 800 !important;
    background: rgba(133, 135, 137, 0.7);
}
.team-det img {
  width:170px !important;
};
}
@media only screen and (min-width: 768px) and (max-width: 991.98px)
   { 
     .roundImg
     {
       width:180px;
     }
     .bgteam
     {
       height:40vh !important;
       padding-top:60px !important;
     }
     .circle
{
  width:175px !important;
}

   }